<div class="d-flex flex-column flex-lg-row justify-content-between align-items-center">
  <img data-aos="fade-up" data-aos-delay="100" class="mb-s-8 mb-lg-s-0" src="../assets/images/logo.png" alt="">

</div>
<hr class="mt-s-10 mb-s-10 text-black-400">

<p class="text-black-700 text-center mb-0">copyright © 2023 All right reserved.</p>