<nav class="navbar navbar-expand-lg bg-body-tertiary position-static position-lg-relative flex-nowrap flex-lg-wrap">
  <!-- logo -->
  <a href="index.html" class="d-flex me-6 me-lg-12 flex-shrink-0">
    <img src="../assets/images/logo.png" class="header-logo me-md-4" alt="logo" />
    <h1 class="d-none d-md-flex align-items-center">
      7TAO
      <span class="fs-6 ms-1 serif">活動訂票網</span>
      <i class="icofont-duotone icofont-arrow-last"></i>
    </h1>
  </a>

  <!-- 搜尋框 -->
  <form class="d-flex header-search-group me-lg-auto" role="search">
    <input class="form-control" type="search" placeholder="探索活動" aria-label="Search">
    <button class="btn btn-primary header-search-btn d-flex justify-content-center align-items-center" type="button">
      <i class="icofont-search-1"></i>
    </button>
  </form>

  <!-- 手機板按鈕 -->
  <button class="navbar-toggler border-1 border-black rounded-3 ms-6" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-custom position-absolute position-lg-static bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-0 border-bottom border-primary border-bottom-lg-0">
        <li class="nav-item me-lg-6">
          <a href="#" id="registerLink" class="navbar-link-custom d-block py-4">
            <div class="container px-lg-0"><i class="icofont-ui-file me-1"></i>REGISTER</div>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="navbar-link-custom d-block py-4">
            <div class="container px-lg-0"><i class="icofont-ui-user me-1"></i>LOGIN</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>