<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>7TAO 活動訂票網 </title>
  <%- include('./layout/meta') -%>
  <%- include('./layout/font') -%>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>

<body>
  <header class="position-relative border-primary border-bottom py-3 py-md-6 ">
    <div class="container">
      <%- include('./layout/header'); -%>
    </div>
  </header>

  <main class="mt-4 mt-md-8">
    <!-- hero-banner -->
    <div class="container mb-8 mb-md-12">
      <div class="hero-banner text-white d-flex flex-column pt-4 pb-6 pe-10 ps-10 pt-md-12 pe-md-12 ps-md-12">
        <p class="hero-date">19 MAY <br class="d-md-none"> 2023</p>
        <div class="mt-auto text-center hero-content">
          <h2 class="mb-md-4 mb-0 noto-tc-serif">隔牆有耳-沒有草東的派對</h2>
          <p class="d-none d-md-block">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
          帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
        </div>
      </div>
    </div>

    <!-- categories-group -->
    <div class="container categories-group mb-8 mb-md-12">
      <ul class="row g-2 g-md-6">
        <li class="col-4 col-lg-2">
          <a href="#" class="p-5 p-md-6 p-lg-9 border border-black d-block text-center w-100 h-100">
            <img class="categories-icon mb-2 mb-md-3" src="../assets/images/cate01.svg" alt="演出連結 icon"/>
            <p class="categories-text noto-tc-serif">演出</p>
          </a>
        </li>
        <li class="col-4 col-lg-2">
          <a href="#" class="p-5 p-md-6 p-lg-9 border border-black d-block text-center w-100 h-100">
            <img class="categories-icon mb-2 mb-md-3" src="../assets/images/cate02.svg" alt="聯誼連結 icon" />
            <p class="categories-text noto-tc-serif">聯誼</p>
          </a>
        </li>
        <li class="col-4 col-lg-2">
          <a href="#" class="p-5 p-md-6 p-lg-9 border border-black d-block text-center w-100 h-100">
            <img class="categories-icon mb-2 mb-md-3" src="../assets/images/cate03.svg" alt="展覽連結 icon" />
            <p class="categories-text noto-tc-serif">展覽</p>
          </a>
        </li>
        <li class="col-4 col-lg-2">
          <a href="#" class="p-5 p-md-6 p-lg-9 border border-black d-block text-center w-100 h-100">
            <img class="categories-icon mb-2 mb-md-3" src="../assets/images/cate04.svg" alt="美食連結 icon" />
            <p class="categories-text noto-tc-serif">美食</p>
          </a>
        </li>
        <li class="col-4 col-lg-2">
          <a href="#" class="p-5 p-md-6 p-lg-9 border border-black d-block text-center w-100 h-100">
            <img class="categories-icon mb-2 mb-md-3" src="../assets/images/cate05.svg" alt="演出連結 icon" />
            <p class="categories-text noto-tc-serif">戶外</p>
          </a>
        </li>
        <li class="col-4 col-lg-2">
          <a href="#" class="p-5 p-md-9 border border-black d-flex justify-content-center align-items-center bg-black text-secondary text-center w-100 h-100">
            <p class="categories-more noto-tc-serif">探索<br>更多</p>
          </a>
        </li>
      </ul>
    </div>

    <!-- recent-group -->
    <div class="container recent-group"> 
      <div class="border border-black px-3 py-4 py-md-8 px-md-8 d-flex align-items-center justify-content-between">
        <h2 class="title-en">RECENT</h2>
        <p class="title-tw noto-tc-serif">近期活動</p>
      </div>
    </div>
    

  </main>
  

  <footer class="bg-secondary-light py-s-15 py-lg-s-20">
    <div class="container">
      <!-- <%- include('./layout/footer'); -%> -->
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script type="module" src="../main.js"></script>
  <script type="module" src="../assets/js/index.js"></script>
  <script>
    
  </script>
</body>

</html>